{
  "serviceName": "spa-cognito",
  "stageName": "prod",
  "callbackUrls": [
    "https://app.example.com",
    "https://www.example.com"
  ],
  "logoutUrls": [
    "https://app.example.com",
    "https://www.example.com"
  ],
  "corsOrigins":[
    "http://localhost:3000",
    "https://dev.example.com"
  ],
  "corsAllowCredentials": true
}